[submodule "Quadtree"]
	path = Quadtree
	url = https://github.com/Gabriel-Teston/Quadtree
[submodule "ParticleSystem"]
	path = ParticleSystem
	url = https://github.com/Gabriel-Teston/ParticleSystem.git
[submodule "DenoisingAutoencoder"]
	path = DenoisingAutoencoder
	url = https://github.com/Gabriel-Teston/DenoisingAutoencoder.git
